.Nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.NavItem {
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
}

.NavItem a {
    color: rgb(87, 75, 75);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem .active {
    color: rgb(43, 168, 226);
}

@media (min-width: 500px) {
    .Nav {
        display: flex;
        flex-flow: row;
        align-items: center;
        list-style: none;
        height: 100%;
        width: auto;
        margin: 0;
        padding: 0;
    }
    .NavItem {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin: 0;
        height: 100%;
    }
    .NavItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem .active {
        background-color: rgb(57, 66, 116);
        border-bottom: 4px solid wheat;
        color: white;
    }
}